* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ===========  Color Variables  ========== */

:root {
	--black: #2a2a2a;
	--hover: #54595f;
	--white: white;
	--grey: #d2d2d2;
}

/* Header */

header {
	position: sticky;
	position: -webkit-sticky;
	z-index: 999;
	top: 0;
	background-color: white;
	display: flex;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	border-bottom: 1px solid var(--grey);
}

#hamburger {
	flex: 1;
	height: 24px;
	display: none;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#hamburger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 32px;
	background: var(--black);
	border-radius: 10px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -2px;
	left: 4px;
}

#hamburger.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 20.8px;
	left: 4px;
}

#menuToggle input {
	display: none;
}

#menu {
	display: none;
	position: fixed;
	padding: 0rem 0rem 1.5rem 0rem;
	width: 100%;
	top: -15rem;
	z-index: 200;
	background-color: white;
	list-style-type: none;
	transition: 0.5s;
}

#menu li {
	text-align: center;
	padding-top: 1.5rem;
	font-size: 22px;
	color: var(--black);
}

nav {
	flex: 5;
}

#navbar {
	display: flex;
	justify-content: flex-start;
}

a {
	text-decoration: none;
}

#navbar a {
	border-bottom: 1px solid transparent;
	color: var(--black);
	margin-right: 0.7rem;
	font-size: 1rem;
}

#navbar a:hover {
	border-bottom: 1px solid var(--black);
}

#navbar a.active {
	border-bottom: 1px solid var(--black);
}

#navbar li {
	display: inline-block;
}

#name {
	text-align: center;
	flex: 5;
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--black);
	padding-bottom: 0.1rem;
}

#socials {
	flex: 4;
}

#socials ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
}

#socials svg {
	fill: var(--black);
	height: 1.4rem;
}

#envelope svg {
	height: 1.6rem;
}

#socials :hover {
	fill: var(--hover);
}

#socials ul {
	display: flex;
	justify-content: flex-end;
}

#socials ul li {
	margin-left: 1rem;
	display: flex;
	align-items: center;
}

#cart {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

#cart a {
	display: flex;
	align-items: center;
	justify-content: center;
}

#cart svg {
	height: 1.8rem;
	fill: var(--black);
}

#cart svg:hover {
	fill: var(--hover);
}

#refunds {
	text-align: center;
}

/* Footer */

footer {
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer :hover {
	fill: var(--hover);
}

footer ul {
	display: flex;
	justify-content: center;
}

footer ul li {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	display: flex;
	align-items: center;
}

footer ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer svg {
	fill: var(--black);
	height: 1.35rem;
}

/* Media Query */

@media only screen and (max-width: 760px) {
	header {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	#hamburger {
		display: block;
	}

	#menuToggle {
		display: flex;
		justify-content: flex-start;
	}

	#menuToggle div {
		height: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#menuToggle a {
		text-decoration: none;
		color: var(--black);
	}

	#menuToggle a:hover {
		color: var(--hover);
	}

	#menuToggle input {
		display: block;
		position: absolute;
		width: 32px;
		height: 28px;
		top: 29px;
		left: 44px;
		cursor: pointer;
		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */
		-webkit-touch-callout: none;
	}

	#menuToggle input:checked ~ ul {
		transform: translate(100%, 0);
	}

	nav {
		display: none;
	}

	#socials {
		display: none;
	}

	#menu {
		display: block;
	}
}
