main{
  margin: 2rem 2rem 0rem 2rem;
}

:root {
  --black: #2a2a2a;
  --hover: #54595F;
  --white: white;
  --grey: #D2D2D2;
  --white: #F5F5F5;
  --darkGrey: #919190;
}

#grid {
  display: grid;
  text-transform: uppercase;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: start;
}

#grid a {
  display: flex;
  flex-direction: column;
}

.name{
  width: 100%;
  color: var(--black);
  font-weight: 700;
  font-size: 1.1rem;
  text-align: left;
  margin-top: 0.8rem;
}

.color{
  width: 100%;
  color: var(--darkGrey);
  font-weight: 600;
  text-align: left;
  margin-top: 0.2rem;
}

.price{
  width: 100%;
  color: var(--black);
  text-align: left;
  margin-top: 0.2rem;
}

a div img {
  width: 100%;
  opacity: 0;
}


#obsidians{
  background: url("../Products/Obsidians/2.JPG") no-repeat;
  background-size: contain;
}

#obsidians img{
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

#obsidians img:hover{
  opacity: 0;
}

#sesames{
  background: url("../Products/Sesames/2.JPG") no-repeat;
  background-size: contain;
}

#sesames img{
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

#sesames img:hover{
  opacity: 0;
}

#kithHoodie{
  background: url("../Products/Kith Hoodie/2.JPG") no-repeat;
  background-size: contain;
}

#kithHoodie img{
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

#kithHoodie img:hover{
  opacity: 0;
}

#stoneIslandCrewneck{
  background: url("../Products/Stone Island Crewneck/2.JPG") no-repeat;
  background-size: contain;
}

#stoneIslandCrewneck img{
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

#stoneIslandCrewneck img:hover{
  opacity: 0;
}

#essentialsCrewneck{
  background: url("../Products/Essentials Crewneck/2.JPG") no-repeat;
  background-size: contain;
}

#essentialsCrewneck img{
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

#essentialsCrewneck img:hover{
  opacity: 0;
}

#stoneIslandLongsleeve{
  background: url("../Products/Stone Island Longsleeve/2.JPG") no-repeat;
  background-size: contain;
}

#stoneIslandLongsleeve img{
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

#stoneIslandLongsleeve img:hover{
  opacity: 0;
}

#question{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 0.75em;
  color: var(--black);
  letter-spacing: 1px;
}

#question a{
  font-weight: 600;
  color: black;
  text-decoration: underline;
}

#line{
  display: none;
}

#refunds {
  font-size: 0.75em;
  color: var(--black);
  letter-spacing: 1px;
}


@media (min-width:640px) and (max-width:760px){
  main{
    margin: 3rem 3rem 0rem 3rem;
  }

  #grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 3rem;
  }
}

@media (max-width:640px){
  main{
    margin: 3rem 3rem 0rem 3rem;
  }

  #grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 3rem;
  }

  #line{
    display: block;
  }
}