/* ===========  Color Variables  ========== */

:root {
	--black: #2a2a2a;
	--buttonHover: #3f3f3f;
	--grey: #d2d2d2;
	--white: white;
	--darkGrey: #919190;
}

main {
	margin: 0rem 0rem 0rem 0rem;
}

#projectsSection h1,
#storeSection h1,
#Patreon h1 {
	font-size: 2rem;
	font-weight: 400;
	color: var(--black);
	margin-bottom: 2rem;
}

#heroSection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20rem;
	overflow: hidden;
	background: linear-gradient(
		rgba(230, 214, 180, 0.15),
		rgba(230, 214, 180, 0.15)
	);
}

#heroImage {
	min-width: 65rem;
	z-index: -1;
}

#heroSection h1 {
	position: absolute;
	color: var(--white);
	font-size: 3rem;
	text-shadow: 0.9px 0.9px 6px var(--black);
}

#projectsSection {
	margin: 0rem 3rem;
	margin-top: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#projectsSection :not(:nth-last-of-type(1)) {
	padding-right: 3rem;
	width: 100%;
	max-width: 40rem;
	text-decoration: none;
	background-color: var(--white);
	color: var(--black);
	font-weight: 400;
	align-items: center;
	display: grid;
	padding: 0.5rem;
	font-size: 1.2rem;
	border: 1px solid var(--black);
	border-radius: 0.5rem;
	grid-template-columns: 3.5rem 1fr 3.5rem;
	transition: 0.4s ease-in-out;
}

#projectsSection :not(:nth-last-of-type(1)):hover {
	color: white;
	background-color: var(--black);
	transition: 0.4s ease-in-out;
}

.link {
	margin-bottom: 1rem;
}

#projectsSection img {
	width: 3rem;
	border-radius: 17.544%;
}

#projectsSection a p {
	text-align: center;
}

#storeSection {
	margin: 1.6rem 2rem 0rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#storeSection img {
	width: 30%;
}

#whiteLine {
	margin-top: 2rem;
	background-color: var(--white);
	height: 1px;
	width: 100%;
	margin-bottom: -1px;
}

#videoSection {
	margin-bottom: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		rgb(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.05)
	);
}

#ytplayer {
	width: 100%;
	z-index: -1;
}

#wallpaperSection {
	display: flex;
	justify-content: center;
	align-items: center;
}

#wallpaperSection img {
	width: 50%;
}

#photosSection img {
	width: 50%;
}

.button {
	margin-top: 2rem;
	background-color: var(--black);
	color: var(--white);
	font-weight: 400;
	align-items: center;
	font-size: 1rem;
	padding: 0.6rem;
	border: 1px solid var(--black);
	border-radius: 0.25rem;
	transition: 0.4s ease-in-out;
}

.button:hover {
	background-color: var(--buttonHover);
	border: 0.1rem solid var(--buttonHover);
	transition: 0.4s ease-in-out;
}

#grid {
	display: grid;
	text-transform: uppercase;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
	align-items: start;
}

#grid a {
	display: flex;
	flex-direction: column;
}

.name {
	width: 100%;
	color: var(--black);
	font-weight: 700;
	font-size: 1.1rem;
	text-align: left;
	margin-top: 0.8rem;
}

.color {
	width: 100%;
	color: var(--darkGrey);
	font-weight: 600;
	text-align: left;
	margin-top: 0.2rem;
}

.price {
	width: 100%;
	color: var(--black);
	text-align: left;
	margin-top: 0.2rem;
}

.product img {
	opacity: 1;
	transition: opacity 0.75s ease-in-out;
}

.product img:hover {
	opacity: 0;
}

#obsidians img {
	height: 100%;
	width: 100%;
}

#kithHoodie img {
	height: 100%;
	width: 100%;
}

#stoneIslandJacket img {
	height: 100%;
	width: 100%;
}

#obsidians {
	background: url('../Products/Obsidians/2.JPG') no-repeat;
	background-size: contain;
}

#kithHoodie {
	background: url('../Products/Kith Hoodie/2.JPG') no-repeat;
	background-size: contain;
}

#stoneIslandJacket {
	background: url('../Products/Stone Island Jacket/2.JPG') no-repeat;
	background-size: contain;
}

#Patreon {
	margin-top: 1.6rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#PatreonButton {
	display: flex;
	justify-content: center;
	background-color: #ff424d;
	padding: 0.9rem 1.2rem;
	transition: 0.4s ease-in-out;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
}

#PatreonButton:hover {
	background-color: #ff646d;
	transition: 0.4s ease-in-out;
}

#PatreonButton img {
	width: 8.5rem;
}

#PaypalButton {
	display: flex;
	justify-content: center;
	background-color: var(--black);
	padding: 0.8rem 1.45rem;
	transition: 0.4s ease-in-out;
	border-radius: 0.25rem;
}

#PaypalButton:hover {
	background-color: var(--buttonHover);
	transition: 0.4s ease-in-out;
}

#PaypalButton img {
	width: 8rem;
}

@media only screen and (max-width: 765px) {
	#heroSection {
		/*height: 10rem;*/
		margin: auto;
	}

	#heroSection h1 {
		font-size: 2.5rem;
	}

	#videoSection {
		overflow: hidden;
		display: flex;
		justify-content: center;
	}

	#ytplayer {
		height: 30rem;
		z-index: -1;
	}
}

@media (min-width: 640px) and (max-width: 765px) {
	#grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}
}

@media (max-width: 640px) {
	#grid {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}
