main{
    margin: 2rem 2rem 0rem 2rem;
}

:root {
    --black: #2a2a2a;
    --buttonHover: #3f3f3f;
    --white: white;
    --grey: #D2D2D2;
}

#content{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hiddenTitle{
  align-items: center;
  display: none;
}

#hiddenTitle h1{
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

#images{
  margin-right: 4rem;
  width: 22rem;
}

#mainPicture{
  width: 100%;
  margin-bottom: 0.5rem;
}

#expandedImg{
  width: 100%;
}

#thumbnails{
  display: flex;
}

.column{
  flex: 1;
  margin-right: 0.7rem;
}

.last{
  margin-right: 0;
}

.column img{
  width: 100%;
}

.column img:hover{
  opacity: 0.8;
  transition: 0.4s;
}

#description{
  width: 22rem;
}

#description h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#description h2 {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#description p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.7rem;
}

#paypalButton{
  margin-top: 1.5rem;
}

#back{
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 2rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: 400; 
  align-items: center;
  font-size: 1rem;
  padding: 0.6rem;
  border: 0.1rem solid var(--black);
  border-radius: 2px;
}

.button:hover {
  background-color: var(--hover);
  border: 0.1rem solid var(--hover);
  transition: 0.4s ease-in-out;
}

#question{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 0.75em;
  color: var(--black);
  letter-spacing: 1px;
}

#question a{
  font-weight: 600;
  color: black;
}

#line{
  display: none;
}

#refunds {
  text-align: center;
  font-size: 0.75em;
  color: var(--black);
  letter-spacing: 1px;
}


/* Media Query */

@media only screen and (max-width: 640px)
{
  main{
    margin: 1rem 3rem 0rem 3rem;
  }

  #content{
      flex-direction: column;
  }

  #hiddenTitle{
    display: block;
    text-align: center;
  }

  #images{
    margin-right: 0;
    width: 100%;
  }

  #description{
    width: 100%;
  }

  #description h1 {
    display: none;
  }

  .button {
    margin-top: 1rem;
  }

  #line{
    display: block;
  }
}
